In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,np.nan,7])
dates = pd.date_range('20120204',periods=6)

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))
df2 = pd.DataFrame({'A':1., 
                    'B':pd.Timestamp('20120304'),
                    'C':pd.Series(1, index=list(range(4)),dtype='float32'),
                    'D':np.array([3]*4,dtype='int32'),
                    'E':pd.Categorical(['test','train','test','train']),
                    'F':'foo'
                    })

In [54]:
df.sort_index(axis=0,ascending=True)
df.sort_values(['A','B']).sort_index(axis=1,ascending=False)

                   D         C         B         A
2012-02-07  1.139182 -1.378909 -0.403933 -1.398370
2012-02-08 -0.346663 -0.330975 -0.630292 -0.940716
2012-02-09 -0.648937 -2.073480 -0.447007 -0.164428
2012-02-04  0.040298 -1.369456  1.659343  0.945967
2012-02-06  1.707371 -1.421651  0.141971  1.073292
2012-02-05 -0.651774  0.695761 -0.228310  1.732557

In [15]:
df.loc[dates[0]:dates[2],['B','D']]

                   B         D
2012-02-04 -0.030340 -0.518066
2012-02-05  0.076079 -0.461435
2012-02-06 -1.210553  1.205238

In [16]:
df.at[dates[0],'D']

-0.51806635797603495

In [22]:
df.iloc[0:3,0:3]

                   A         B         C
2012-02-04 -1.050076 -0.030340  1.714479
2012-02-05  0.755652  0.076079  0.907804
2012-02-06  0.225191 -1.210553  1.993375

In [24]:
df2 = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

In [26]:
df2['four'] = 'bar'
df2['five'] = df2['one'] > 0.0

In [41]:
df3 = df2.reindex(['a','b','c','d','e','f','g','h'])
df3

        one       two     three four   five
a  0.556813 -1.038124  0.308663  bar   True
b       NaN       NaN       NaN  NaN    NaN
c  0.564315 -0.078346  2.734896  bar   True
d       NaN       NaN       NaN  NaN    NaN
e -0.464835  0.060679  1.082712  bar  False
f -1.114655 -0.410481 -0.344921  bar  False
g       NaN       NaN       NaN  NaN    NaN
h  0.055743 -1.624655  0.925599  bar   True

In [40]:
df3.dropna(how='any')

        one       two     three four   five
a  0.556813 -1.038124  0.308663  bar   True
c  0.564315 -0.078346  2.734896  bar   True
e -0.464835  0.060679  1.082712  bar  False
f -1.114655 -0.410481 -0.344921  bar  False
h  0.055743 -1.624655  0.925599  bar   True